//Custom variables
$font-size-base: 0.9em;

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image: "../img";
$path-fonts: "../fonts";
$base-color-highlight: #4bbf4d;
$base-color-normal: #697077;

$navItem-TextColor: $base-color-normal;
$navItem-TextColorHover: $base-color-highlight;
